{% extends "inicio/encabezado.html" %}
{% block titulo %}Principal {% endblock %}

{% block imagen%}
	{%load static%}
	{%static 'inicio/images/home.png'%}
{% endblock%}


{% block titulo_principal %}
	Home <span> Inicio </span>
{% endblock %}


{% block contenido %}
<!-- Contenido Principal-->
	 	


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
				</div>

				
			</div>

			{% block url %}

<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<a href="{%url 'Principal'%}">
				{%if request.path == '/' %}
					Principal
				{%else%}
					Principal{{request.path}}
				{%endif%}
			</a>
		
		</ul>
	</div>
{% endblock %}

			<!-- /Encabezado-->
             


		</div>
		<!-- /Contenido Principal-->
{% endblock %}